@{
    ViewData["Title"] = "Öğün Detayı";
}

<h2>Öğün Detayı</h2>

<p>Burada @ViewData["MealId"] numaralı öğünün detayları gösterilecek.</p>

<p>Bu sayfayı daha sonra grafikler, besin listesi, fotoğraf vb. ile dolduracağız.</p>
